{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "prettier-plugin-organize-imports": true,
  "singleAttributePerLine": true
}
