.top {
  background-color: #000;
  width: 100vw;
  height: 100%;

  // .hottospot {
  //   //font-family: "Montserrat", serif;
  //   font-optical-sizing: auto;
  //   font-weight: 800;
  //   font-style: normal;
  //   font-size: 60px;
  //   color: white;
  //   position:absolute;
  //   z-index: 40;
  //   width: 100%;
  // }
}

.gradationBackground {
  position: absolute;
  height: 200px;
  width: 100vw;
  z-index: 99;
  top: -40px;
  background: linear-gradient(0deg, rgba(247, 79, 133, 0) 7.8%, #f74f85 73.9%);
}
