{
    "printWidth": 120,
    "tabWidth": 2, 
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "parser": "typescript",
    "bracketSameLine": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "prettier-plugin-organize-imports": true
  }
  