.container{
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    overflow: auto;

    .whole{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5%;

      .header{
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 55%;

        .title{
          color: #24232D;
          font-size: 180%;
          font-weight: bold;
        }

        .buttons{
          display: flex;
          width: 27%;
          justify-content: space-around;
        }


      }

      .subtitle{
        width: 89%;
        display: flex;
        color: #758693;
        font-size:90%;

      }

    }

    .middle{
      display: flex;
      width: 100%;
      height: 50%;

      .middleLeft{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
  
        .img{
          width: 90%;
          height: 100%;
          text-align: center;
          background-color: #758693;
          border-radius: 10%;

        }
      }

      .middleRight{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;
        height: 100%;

        .targetTitle{
          color: #758693;
          font-size: 90%;
          font-weight: 600;
        }

        .limit{
          width: 90%;
          color: #24232D;
          font-size: 200%;
          border-bottom: 1px solid #D2D9E0;
          font-weight: 700;
          padding-bottom: 3%
        }

        .predict{
          color: #758693;
          font-size: 90%;
          font-weight: 600;
          margin-top: 3%

        }

        .waysButton{
          width: 90%;
          margin-top: 2%;
          display: flex;
          justify-content: flex-end;
          
          .walk{
            padding-right: 3%
          }

          .bicycling{
            padding-right: 3%
          }

          .car{
            padding-right: 3%
          }

        }

        .hour{
          color: #24232D;
          font-size: 200%;
          font-weight: 700;
        }

        .minutes{
          color: #24232D;
          border-bottom: 1px solid #D2D9E0;
          font-size: 200%;
          font-weight: 700;
          padding-bottom: 3%
        }
        
        .url{
          all: unset;
          color: #758693;
          font-size: 90%;
        }
      }
    }
  }
