.top{
    background-color: #000;
    width: 100vw;
    height: 100%;

 

      
        // .hottospot {
        //   //font-family: "Montserrat", serif;
        //   font-optical-sizing: auto;
        //   font-weight: 800;
        //   font-style: normal;
        //   font-size: 60px;
        //   color: white;
        //   position:absolute;
        //   z-index: 40;
        //   width: 100%;
        // }
      
      
}

