.background {
    background:linear-gradient(to right, #f8508f, #F54A4C);
    height:100vh;
    width:100%;
    margin:0;
    position: relative; 
}
.fireImg{
    position:absolute;
    bottom: 0;
    left: 0;
    z-index:10;
    width: 100%;
}

